{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script",
        "ecmaFeatures": {
            "globalReturn": false,
            "impliedStrict": true,
            "jsx": true,
            "experimentalObjectRestSpread": false
        }
    },

    "env": {
        "browser": true,
        "commonjs": true,
        "jquery": true
    }
}
